<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kimetsu no Yaiba</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/Heroes">Heroes</a></li>
                <li><a href="/Demonios">Demonios</a></li>
                <li><a href="/Otros">Otros</a></li>
                <li><a href="#">Te tenemos una sorpresa</a>
                    <ul class="submenu">
                        <li><a href="/pelicula">No le cuentes a nadie</a></li>
                    </ul>
                </li>
                <li><a href="https://api.whatsapp.com/send?phone=542974278926" title="Whatsapp"
                        target="_blank">Manda Whatsapp:</a></li>
            </ul>
        </nav>
    </header>

    <h1>Demonios</h1><br>

    <h3>Muzan Kibutsuji</h3>

    <img src="/images/muzan.jpg" alt="Muzan Kibutsuji">

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>10 mil años<br><strong>Afiliación:</strong> Demonios
    </p>
    <p>Muzan Kibutsuji es el primer demonio existente y el progenitor de todos los demonios en la historia. Fue el
        responsable de la masacre de la familia Kamado y
        de la transformación de Nezuko.</p>
    <p>Usa su habilidad para tomar diferentes formas para escapar de los cazadores de demonios. Excepcionalmente
        inteligente y sin piedad, no valora la vida de
        nadie más que la suya, considerando a los humanos inferiores.</p>
    <p>Extremadamente narcisista y con un sentido ilusorio de omnipotencia, está obsesionado con convertirse en
        el ser perfecto y no
        puede soportar que lo ridiculicen o lo corrijan. Su complejo divino lo hace incapaz de ver sus propios fracasos.
    </p>
    <p>Muzan es un manipulador, con habilidades para influir en varios demonios con promesas de poder, venganza y
        grandeza.
        Su anatomía única incluye 7 corazones y 5 cerebros. Como progenitor de todos los demonios, su
        capacidad de regeneración
        es la mayor entre todos ellos, así como su control corporal y su percepción extrasensorial.
        Es capaz de absorber y disolver cosas en su cuerpo, pudiendo acceder a los recuerdos de aquellos que absorbe.
    </p><br>

    <h3>Tamayo</h3>

    <img src="/images/tamayo.jpg" alt="Tamayo">

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>500<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Tamayo es un demonio experta en medicina, aliada cercana de Tanjiro Kamado. Fue transformada en demonio por Muzan
        Kibutsuji. Sus habilidades médicas
        son excepcionales, siendo capaz de curar heridas peligrosas y hasta mortales, siendo una aliada formidable para
        los cazadores de demonios.</p><br>

    <h3>Yushiro</h3>

    <img src="/images/yushiro.jpg" alt="Yushiro">

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>No disponible<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Es el fiel compañero de Tamayo, a quien defiende a capa y espada. Anteriormente era un humano, quien fue
        transformado en demonio por Tamayo.
        Durante el arco de la pelea contra Susamaru, Yushiro le brinda su apoyo a Tanjiro para poder ubicar las flechas
        de las temaris.</p><br>

    <h3>Susamaru</h3>

    <img src="/images/susamaru.jpg" alt="Susamaru">

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>No disponible<br><strong>Afiliación: </strong>Demonios
    </p>
    <p>También conocida como la demonio de los temaris, trabaja junto con su compañero, Yahaba, para ganar
        el reconocimiento de Muzan y ascender en
        los rangos de las doce lunas demoníacas. Sus habilidades incluían la multiplicación de sus
        extremidades, y proficiencia con las bolas temari,
        a las cuales puede materializar a voluntad.</p><br>

    <h3>Yahaba</h3>

    <img src="/images/yahaba.jpg" alt="Yahaba">

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>No disponible<br><strong>Afiliación: </strong>Demonios
    </p>
    <p>Yahaba es un demonio ciego, que utiliza sus manos para leer rastros y dirigir las bolas de temari de Susamaru.
        Sus flechas Koketsu dirigen el viento y manipulan
        la energía que utiliza Tanjiro para guiar sus ataques, por lo cual es difícil pelear con él
        cara a cara.</p><br>


    <h2>Doce lunas demoníacas - Rangos menores</h2>

    <h3>Enmu</h3>

    <img src="/images/enmu.jpg" alt="Enmu">

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>No disponible<br><strong>Afiliación: </strong>Demonios
    </p>
    <p>Es la primera Luna inferior de los demonios a cargo de Muzan. Enmu protagoniza arco de la película
        <em>Kimetsu no Yaiba: Mugen Ressha-hen. </em>
        Es un demonio con tendencias sadistas, con la habilidad de mostrar pesadillas a los humanos. Luego de consumir
        la sangre de Muzan Kibutsuji,
        adquiere la habilidad de separar su mano derecha de su cuerpo, en la cual tiene una boca para dar órdenes
        y utilizar durante los combates.
    </p><br>

    <h3>Rui</h3>

    <img src="/images/rui.jpg" alt="Rui">

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>No disponible<br><strong>Afiliación: </strong>Demonios
    </p>
    <p>Es la quinta luna de bajo rango, pero era la preferida de Muzan. Rui era un demonio con forma de niño que
        vivía en el bosque dentro de
        la montaña Natagumo. Allí, creó una familia ficticia de demonios, cada uno con un papel a
        cumplir, donde se alimentaban de los
        seres humanos que entraban a la montaña. Eventualmente, sus víctimas fueron los cazadores de
        demonios que se acercaban a ella.
        Rui estaba altamente perturbado, ya que confundía el amor filial con una devoción indudable.</p>
    <p>Cuando era humano, sus padres cuidaban de él por ser un niño enfermizo. Al convertirse en demonio y
        cometer su primer asesinato,
        intentan matarlo (y luego suicidarse), para que no vuelva a hacer nada malo. Esto crea en Rui una idea
        distorsionada del amor familiar,
        logrando convencerse a sí mismo de que sus padres no lo amaban si intentaron matarlo, y por ende, eran
        unos impostores.</p><br>

    <h3>Kyogai</h3>

    <img src="/images/kyogai.jpg" alt="Kyogai">

    <p><strong>Cumpleaños:</strong> No disponible<br><strong>Edad: </strong>No
        disponible<br><strong>Afiliación: </strong>Demonios</p>
    <p>También conocido como el demonio de los tambores. Tiene una obsesión con consumir un tipo de sangre
        específico para ganar
        poder y reconocimiento ante Muzan, ya que la sangre que recibió al convertirse lo hizo poderoso, pero no
        lo suficiente.
        Por esta creencia, perdió su rango. Kyogai, como humano, era un escritor frustrado que solo quería
        ser reconocido por su talento.</p><br>

    <footer class="footer">
        <p class="p-footer"> © 2021. Kimetsu no Yaiba · Desarrollada por SINCHES </p>
    </footer>

</body>

</html>