<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kimetsu no Yaiba</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/Heroes">Heroes</a></li>
                <li><a href="/Demonios">Demonios</a></li>
                <li><a href="/Otros">Otros</a></li>
                <li><a href="#">Te tenemos una sorpresa</a>
                    <ul class="submenu">
                        <li><a href="/pelicula">No le cuentes a nadie</a></li>
                    </ul>
                </li>
                <li><a href="https://api.whatsapp.com/send?phone=542974278926" title="Whatsapp"
                        target="_blank">Manda Whatsapp:</a></li>
            </ul>
        </nav>
    </header>

    <h1>Heroes</h1><br>

    <h3>Tanjiro Kamado</h3>

    <img src="/images/Tanjiro.jpg" alt="Tanjiro Kamado" />

    <p><strong>Cumpleaños:</strong> 14 de julio<br>
        <strong>Edad: </strong>13<br><strong>Afiliación:</strong> Cazadores de demonios
    </p><br>

    <p>Tanjiro es el mayor de sus hermanos, el encargado de proveer para su familia como vendedor de carbón.
        Un día, al volver de una venta, descubre que toda su familia ha sido masacrada por un demonio.
        La única superviviente es Nezuko, que ha sido transformada en demonio, y el joven decide mantenerla
        a su lado para curarla.</p>

    <p>Luego de un arduo entrenamiento, desarrolla una técnica de batalla ancestral y una voluntad para pelear
        digna de los mejores espadachines.
        Además, cuenta con un cráneo extremadamente duro, que puede utilizar para golpear a sus oponentes,
        al igual que una percepción olfativa sobrehumana,lo cual le advierte del peligro antes de enfrentarlo.</p> <br>


    <h3>Nezuko Kamado</h3>

    <img src="/images/Nezuko.jpg" alt="Nezuko Kamado" />

    <p><strong>Cumpleaños:</strong> 28 de diciembre<br>
        <strong>Edad: </strong>12<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Nezuko es la hermana menor de Tanjiro, que ha sido transformada en demonio. Afortunadamente, no demuestra
        sed de sangre hacia Tanjiro, a quien reconoce inmediatamente como su hermano.
        Urokodaki, el maestro Tanjiro, decide hipnotizarla para evitar que sea una amenaza para los humanos.
        Con esta técnica, ve a todos los humanos como sus familiares. De esta forma, evita que Nezuko tenga la
        necesidad de consumir carne humana.</p>
    <p>Debido a que es un demonio, Nezuko es incapaz de hablar, y tiene la habilidad de cambiar el tamaño de su
        cuerpo. Tanjiro la transporta utilizando una caja de madera que lleva como un bolso, para evitar que el sol
        la lastime durante el día.
        También debe amordazarla para evitar que muerda a alguien.</p><br>

    <h3>Zenitsu Agatsuma</h3>

    <img src="/images/Zenitsu.jpg" alt="Zenitsu Agatsuma" />

    <p><strong>Cumpleaños:</strong> 3 de septiembre<br>
        <strong>Edad: </strong>16<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Un joven muy temeroso, Zenitsu Agatsuma se une a los cazadores de demonios en el mismo período que
        Tanjiro. Se desprecia a sí mismo por no ser capaz de aprender todas las técnicas que componen el estilo de
        batalla Respiración de Trueno, que le transmitió su abuelo. Sin embargo, sigue dedicándose al aprendizaje y
        tiene una
        excelente audición a su favor. Con el tiempo, comienza a controlar sus miedos y actúa siempre que sea necesario.
        Además, el joven cazador también actúa con gran fuerza cuando está inconsciente, con ataques complejos y
        poderosos.</p><br>

    <h3>Inosuke Hashibira</h3>

    <img src="/images/Inosuke.jpg" alt="Inosuke Hashibira" />

    <p><strong>Cumpleaños:</strong> 22 de abril<br>
        <strong>Edad: </strong>15<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Inosuke fue criado por un jabalí, lo que le dio una personalidad impetuosa, siempre propensa a reaccionar
        violentamente. Un cazador hábil y musculoso, esconde un rostro con rasgos femeninos bajo una cabeza de jabalí
        disecada.
        Autodidacta, creó un estilo de lucha llamado respiración de las bestias,
        que usa acompañado de dos espadas dentadas. Su toque agudo le permite percibir la presencia de enemigos a
        grandes distancias.</p><br>



    <h2>Pilares</h2>

    <p>También conocidos como <em>hashira, </em>los pilares son los cazadores de demonios más habilidosos
        que hay en la organización.
        Para ser considerado para el puesto de <em>hashira</em>, un espadachín debe haber asesinado más de
        50 demonios o haber acabado con alguna de las
        doce lunas demoníacas de mayor rango, a cargo de Muzan Kibutsuji.</p><br>


    <h3>Giyu Tomioka</h3>

    <img src="/images/giyu.jpg" alt="Giyu Tomioka" />

    <p><strong>Cumpleaños:</strong> 8 de febrero<br><strong>Edad:
        </strong>19<br><strong>Afiliación:</strong> Cazadores de demonios</p>
    <p>Es el pilar del agua.
        Siempre serio y de pocas palabras, Giyu es un hombre reservado que destaca por su gran sentido de la justicia.
        Como los otros cazadores,
        no tiene respeto por los demonios, pero rompe el código de conducta del Cuerpo para proteger a Nezuko, la
        hermana de Tanjirō.</p>
    <p>Uno de los espadachines más hábiles y poderosos de la organización, también destaca
        por su velocidad y gran resistencia.
        Domina la Respiración de Agua, a través de la cual puede aumentar el oxígeno en su sangre y
        controlar su patrón de respiración,
        lo que aumenta su fuerza y agilidad para igualar la de un demonio.</p><br>

    <h3>Mitsuri Kanroji</h3>

    <img src="/images/mitsuri.jpg" alt="Mitsuri Kanroji" />

    <p><strong>Cumpleaños:</strong> 1ro de junio<br>
        <strong>Edad: </strong>19<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Es el pilar del amor. Una persona tímida, pero siempre atenta y amable con todos, Mitsuri no deja que su
        naturaleza emocional interfiera con su misión
        como cazador de demonios, hacia los cuales no demuestra piedad. Aunque sueña con casarse, quiere
        encontrar un hombre más fuerte que ella,
        lo cual es una gran dificultad, dado el increíble nivel de su poder. Talentosa como espadachín,
        gran rapidez y flexibilidad son algunas de
        sus características. Pero su principal diferencial es su constitución única. Sus
        músculos tienen una densidad ocho veces mayor de lo normal,
        lo que le da una fuerza y resistencia increíbles.</p><br>

    <h3>Obanai Iguro</h3>

    <img src="/images/obanai.jpg" alt="Obanai Iguro" />

    <p><strong>Cumpleaños:</strong> 15 de septiembre<br>
        <strong>Edad: </strong>21<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Es el pilar de la cobra. Un hombre estricto, no tolera que algunos de los cazadores rompan el código de
        los cazadores y tiene expectativas
        casi irreales con respecto al desempeño de los estudiantes. Encuentra a los nuevos reclutas de la
        organización débiles e incapaces,
        y se sorprende al saber que Tanjiro sobrevivió a la misión de la Selección Final.</p>
    <p>Considera que su sangre es impura por provenir
        de un clan que sacrificó a sus miembros a los demonios por meras razones monetarias. Aunque tiene una
        gran fuerza, es el segundo más
        débil entre los Pilares. Parcialmente ciego de un ojo, cuenta con la ayuda de su serpiente Kubaramaru
        para leer los ataques del enemigo y reportarle.
        Domina el estilo Respiración de Serpiente, con el que puede usar su espada con los movimientos de una
        serpiente.</p><br>

    <h3>Sanemi Shinazugawa</h3>

    <img src="/images/sanemi.jpg" alt="Sanemi Shinazugawa" />

    <p><strong>Cumpleaños:</strong> 29 de noviembre<br>
        <strong>Edad: </strong>21<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Es el pilar de viento. Agresivo, impulsivo, grosero y frío, suele mantener a la gente alejada de
        él, incluso a su propio hermano, Genya. Además,
        puso toda su mira en combatir a los demonios, por los que siente un profundo odio.</p>
    <p>Sanemi tiene un tipo de sangre raro que atrae a los demonios y los deja desorientados por el deseo de
        alimentarse.
        El Pilar también es capaz de manipular sus propios músculos para prevenir o incluso cerrar heridas
        que serían mortales.
        Su estilo de cazador de demonios le proporciona lucha subconsciente, en la que continúa luchando incluso
        después de perder el conocimiento.</p><br>

    <h3>Gyomei Himejima</h3>

    <img src="/images/gyomei.jpg" alt="Gyomei Himejima" />

    <p><strong>Cumpleaños:</strong> 23 de agosto<br>
        <strong> Edad: </strong>27<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <div id="div-gpt-ad-1526378154946-0" class="ad-unit ad-unit--es gpt-middle"></div>
    <p>Es el pilar de piedra. A pesar de su apariencia intimidante, ya que es uno de los cazadores más
        importantes, Gyomei es amable y sensible,
        y a menudo ofrece oraciones a los demás. Aunque siempre amable, su pasado lo convirtió en un
        hombre desconfiado.</p><br>

    <h3>Kyojuro Rengoku</h3>

    <img src="/images/kyojuro.jpg" alt="Kyojuro Rengoku" />

    <p><strong>Cumpleaños:</strong> 10 de mayo<br>
        <strong>Edad: </strong>20<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Es el pilar del fuego. Un guerrero honorable, Kyojuro vive bajo el código moral que le pasó su
        madre,
        cuyo principio fundamental es: Aquellos que nacen fuertes tienen el deber de proteger a los débiles.</p>
    <p>Su entusiasmo y alegría por sus deberes como pilar a veces le dan un aire excéntrico, pero Kyojuro
        es amable y bondadoso.
        Su padre le enseñó el estilo Respiración de Fuego.</p><br>

    <h3>Tengen Uzui</h3>

    <img src="/images/tengen.jpg" alt="Tengen Uzui" />

    <p><strong>Cumpleaños:</strong> 31 de octubre<br>
        <strong>Edad: </strong>23<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Es el pilar del sonido. Aunque destaca por ser una persona excéntrica con actitudes extravagantes, Tengen
        tiene un lado cariñoso y honorable.
        Su súper audición le da la capacidad de ecolocalización. También tiene una gran
        fuerza, velocidad y resistencia al veneno.
        Tengen desarrolló la respiración del sonido, que es una derivada del estilo de respiración
        de trueno. Utiliza una habilidad llamada "partitura",
        con la que puede leer los movimientos de su oponente, analizando su ritmo y anticipándose a él.
    </p><br>

    <h3>Muichiro Tokito</h3>

    <img src="/images/muichiro.jpg" alt="Muichiro Tokito" />

    <p><strong>Cumpleaños:</strong> 8 de agosto<br>
        <strong>Edad: </strong>14<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Es el pilar de la niebla. Luego de un trauma infantil, aunque no lo recordara a nivel consciente, Muichiro se
        volvió cerrado,
        con tendencia a pensar solo en sí mismo, sin mostrar emoción alguna. Aún así,
        está dedicado a su papel de pilar,
        un puesto que ganó apenas dos meses después de comenzar su formación como cazador de
        demonios. Aunque es joven y pequeño,
        es uno de los pilares más fuertes.</p><br>

    <h3>Shinobu Kocho</h3>

    <img src="/images/shinobu.jpg" alt="Shinobu Kocho" />

    <p><strong>Cumpleaños:</strong> 24 de febrero<br>
        <strong>Edad: </strong>18<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Es el pilar de los insectos. Tiene una sonrisa siempre en su rostro, un semblante tranquilo y muestra un gusto
        por jugar con todos, especialmente Giyu,
        esconde un estado de ira casi constante por todo y todos los que ha perdido en las batallas contra los demonios.
        Tiene grandes habilidades y conocimientos
        en el campo médico y farmacéutico, siendo capaz de combatir venenos creados por demonios.
        Además, puede producir diferentes tipos de
        veneno para otros usos.</p>
    <p>A pesar de su posición inicial de querer llevarse bien con los demonios, puede ser bastante cruel cuando
        se trata de
        luchar contra ellos. Pero hace una excepción con Tanjirō y Nezuko, después de escuchar la
        historia detrás de la transformación
        de la niña y comprender que ella no presenta riesgos.</p><br>

    <h2>Otros cazadores de demonios</h2>

    <h3>Kanao Tsuyuri</h3>

    <img src="/images/kanao.jpg" alt="Kanao Tsuyuri" />

    <p><strong>Cumpleaños:</strong> 19 de mayo<br>
        <strong>Edad: </strong>16<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Con una infancia traumática, Kanao sufrió la agresión de su padre, quien acabó
        vendiéndola como esclava a un extraño.
        La niña es rescatada por Kanae, la antigua pilar de las flores, y su hermana Shinobu, el pilar de los
        insectos. Shinobu entrena a Kanao para que sea su sucesora,
        también llamados <em>tsukugo</em>, que son miembros excepcionales del los cazadores nombrados
        personalmente como sucesores de los pilares.</p>v>
    <p>Su pasado deja marcas en su personalidad, demostrando dificultades para mostrar emociones e incluso hablar.
        Ingresó a los cazadores en
        la misma prueba de admisión que Tanjiro, Inosuke, Zenitsu y Genya. Es una espadachín talentosa,
        además de tener una
        visión muy aguda.</p><br>

    <h3>Genya Shinazugawa</h3>

    <img src="/images/genya.jpg" alt="Genya Shinazugawa" />

    <p><strong>Cumpleaños:</strong> 7 de enero<br>
        <strong>Edad: </strong>16<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Hermano menor del Pilar del viento, Sanemi Shinazugawa, Genya tiene un temperamento difícil, elige estar
        siempre solo y no hace ningún esfuerzo
        por ser cortés con los otros estudiantes para ser cazadores.</p>
    <p>Uno de sus poderes es la Transformación Demoníaca, en la que,
        al consumir parte de un demonio, logra ganar temporalmente sus poderes, como la fuerza y la capacidad de
        regeneración.</p><br>

    <h3>Sakonji Urokodaki</h3>

    <img src="/images/sakonji.jpg" alt="Sakonji Urokodaki" />

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>No disponible<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Ex miembro de los cazadores, donde ocupó el cargo del pilar de agua, Sakonji Urokodaki es el creador del
        estilo de lucha Respiración de Agua.
        Responsable del entrenamiento de Giyu Tomioka, actualmente el pilar de agua, también acordó
        entrenar a Tanjirō Kamado por recomendación de
        su antiguo alumno.</p>
    <p>Siempre con una máscara roja, nunca revela su rostro. La máscara incluso ayuda a que parezca un
        anciano gruñón,
        pero Urokodaki tiene una personalidad conocida por la compasión, aunque es muy exigente con sus alumnos.
    </p>
    <p>Creyendo en las intenciones de Tanjirō sobre Nezuko, Urokodaki usó una técnica de hipnosis en
        la niña para evitar que
        atacara a los humanos. Además, envió una carta al maestro de los Pilares con esta
        información,
        fundamental para que la situación de los hermanos Kamado sea aceptada en la corporación.</p><br>

    <h3>Kagaya Ubuyashiki</h3>

    <img src="/images/kagaya.jpg" alt="Kagaya Ubuyashiki" />

    <p><strong>Cumpleaños:</strong> No dispononible<br>
        <strong>Edad: </strong>23<br><strong>Afiliación:</strong> Cazadores de demonios
    </p>
    <p>Ex líder de la familia Ubuyashiki, Kagaya Ubuyashiki es el 97 ° líder del Cuerpo de Cazadores
        de demonios. Atento y tranquilo,
        cuida a los miembros de la corporación como si fueran sus hijos. Es honesto sobre sus debilidades, como
        su incapacidad para convertirse en cazador,
        aunque los lidera.</p>

    <p>Tiene una cicatriz en la parte superior de la cara debido a una maldición. Él cree en la naturaleza
        de Nezuko Kamado y defiende
        la actitud de su hermano ante el jurado de los Pilares, permitiendo que Tanjirō continúe
        protegiéndola.</p><br>


    <footer class="footer">
        <p class="p-footer"> © 2021. Kimetsu no Yaiba · Desarrollada por SINCHES </p>
    </footer>

</body>

</html>