<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kimetsu no Yaiba | Conoce a los personajes más importantes del anime </title>
    <link rel="stylesheet" href="css/estilos.css">


    </div>
</head>

<body>

    <div class="fondo">
        <header>
            <nav class="navegacion">
                <ul class="menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Heroes">Heroes</a></li>
                    <li><a href="/Demonios">Demonios</a></li>
                    <li><a href="/Otros">Otros</a></li>
                    <li><a href="#">Te tenemos una sorpresa</a>
                        <ul class="submenu">
                            <li><a href="/pelicula">No le cuentes a nadie</a></li>
                        </ul>
                    </li>
                    <li><a href="https://api.whatsapp.com/send?phone=542974278926" title="Whatsapp"
                            target="_blank">Manda Whatsapp:</a></li>
                </ul>
            </nav>
        </header>
        <img class="img_home" src="/images/historia_home.png" alt="historia">

        <div class="content"></div>
        
        <footer class="footer">
            <p class="p-footer"> © 2021. Kimetsu no Yaiba · Desarrollada por SINCHES </p>
        </footer>

</body>

</html>