<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kimetsu no Yaiba</title>
    <link rel="stylesheet" href="css/estilos.css">


    </div>
</head>

<title>Otros</title>


<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/Heroes">Heroes</a></li>
                <li><a href="/Demonios">Demonios</a></li>
                <li><a href="/Otros">Otros</a></li>
                <li><a href="#">Te tenemos una sorpresa</a>
                    <ul class="submenu">
                        <li><a href="/pelicula">No le cuentes a nadie</a></li>
                    </ul>
                </li>
                <li><a href="https://api.whatsapp.com/send?phone=542974278926" title="Whatsapp"
                        target="_blank">Manda Whatsapp:</a></li>
            </ul>
        </nav>
    </header>

    <h2>Otros</h2><br>

    <h3>Sabito</h3>

    <img src="/images/sabito.jpg" alt="Sabito">

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>No disponible<br><strong>Afiliación:</strong> No disponible
    </p>
    <p>Antiguo aprendiz de Sakonji Urokodaki, quien asistió a Tanjiro en sus preparaciones para el examen de la
        selección.</p><br>

    <h3>Makomo</h3>

    <img src="/images/makomo.jpg" alt="Makomo">

    <p><strong>Cumpleaños:</strong> No disponible<br>
        <strong>Edad: </strong>No disponible<br><strong>Afiliación:</strong> No disponible
    </p>
    <p>Antigua aprendiz de Urokodaki. Junto a Sabito, se le aparece a Tanjiro para ayudarlo a entrenar la técnica
        de respiración de agua. Tanto Makomo como Sabito fueron asesinados por el demonio de la montaña
        Fujikasane, el cual apareció durante la prueba final de los cazadores. Su espíritu y el de Sabito
        no pueden descansar hasta que algún cazador acabe con el demonio que los mató. De esta manera,
        Urikodaki puede dejar de sentir pena por su pérdida y que sus almas sigan adelante.</p><br>

    <footer class="footer">
        <p class="p-footer"> © 2021. Kimetsu no Yaiba · Desarrollada por SINCHES </p>
    </footer>

</body>

</html>