<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kimetsu no Yaiba</title>
    <link rel="stylesheet" href="css/estilos.css">


    </div>
</head>

<title>Pelicula</title>


<body>

    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/Heroes">Heroes</a></li>
                <li><a href="/Demonios">Demonios</a></li>
                <li><a href="/Otros">Otros</a></li>
                <li><a href="#">Te tenemos una sorpresa</a>
                    <ul class="submenu">
                        <li><a href="/pelicula">No le cuentes a nadie</a></li>
                    </ul>
                </li>
                <li><a href="https://api.whatsapp.com/send?phone=542974278926" title="Whatsapp"
                        target="_blank">Manda Whatsapp:</a></li>
            </ul>
        </nav>
    </header>

    <h1>El tren del infinito</h1><br>

    <div class="videoWrapper">
        <!-- Enlace externo-->
        <iframe width="560" height="349"
            src="https://streamium.xyz/gocdn.html#UXRGTzArWXU3OFFlRFMxSmZnR1QzejB3eHAwTjI0MHFXNlFxT2NTbjZCalhEMjV6NjFOZG4zMXluUTdwMDRTaW1DZ3J5aXE3WC8ySVgveitvOWJDajczaWp3VEZLaGI4eHU3WlNsZ0JLR2ZPdGxXdWhEYms4ZFpoTEtqanhPTmpBY1ZuT0ladVFWY1duM0E1bFVxWTlnPT0="
            frameborder="0" allowfullscreen></iframe>
    </div>

<br>
<br>
    <footer class="footer">
        <p class="p-footer"> © 2021. Kimetsu no Yaiba · Desarrollada por SINCHES </p>
    </footer>

</body>

</html>